.app {
  width: 100%;
  background-color: #f3f3f3;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  background-color: #fff;
  padding: 24px;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05), 0px 3px 6px rgba(0, 0, 0, 0.05),
    0px 4px 8px rgba(0, 0, 0, 0.1);
  width: 460px;
}

.form_group {
  display: flex;
  flex-direction: column;
}

.form_group label {
  font-size: 14px;
  margin-bottom: 8px;
}

.form_group input,
.form_group textarea {
  padding: 12px 16px;
  border-radius:5px;
  border:2px solid #f3f3f3;
}
.form_group textarea {
  height: 150px;
}
.form_group button {
  width: 100%;
  padding: 16px;
  text-align: center;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  background-color: blue;
  color: #fff;
  cursor: pointer;
}

.mt-24 {
  margin-top: 24px;
}

.error {
  font-size: 12px;
  color: red;
}

.input-error {
  border:1px solid red;
}